
body {
  font-family: sans-serif;
}

div.logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.logo span {
  font-family: 'Damion', cursive;
  font-size: 5em;
  color: #CD0064;
  cursor: default;
}

div.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

div.prompt {
  cursor: default;
  margin: 8px;
  text-align: center;
  font-size: 1.4em;
}

div.entry input[type="text"] {
  width: 85px;
  display: inline;
}

div.entry input[type="submit"] {
  width: 95px;
  margin-left: -3px;
}

div.entry div.submit {
  margin-top: 8px;
  width: 95px;
  margin-left: auto;
  margin-right: auto;
}

input.clearDefault {
  color: #ccc;
}

a.part {
  padding: 3px;
  color: black;
}

a.part:hover {
  border-radius: 3px;
  background-color: black;
  text-decoration: none;
  color: white;
}

div.content {
  margin-top: 40px;
}

#list {
  font-size: 1.2em;
}

#list li {
  margin-bottom: 5px;
}

span.votey {
  padding-left: 4px;
}

span.votey a {
  padding: 3px;
}

