@()(implicit flash: play.mvc.Scope.Flash)

@displayFlash(flash: play.mvc.Scope.Flash) = {
  @if(flash.get("warning")) {
    <div class="alert-message warning">
      <a class="close" href="#">x</a>
      @flash.get("warning")
    </div>
  }
  @if(flash.get("success")) {
    <div class="alert-message success">
      <a class="close" href="#">x</a>
      @flash.get("success")
    </div>
  }
}

@main("truthity") {
  <div class="container">
    @displayFlash(flash)
    <div class="prompt">
    What's a <strong>fact</strong> that is <em>true</em>?
    </div>
    <div class="entry">
      <form action="@action(controllers.Application.addFact)" method="POST">
          <input class="xlarge clearDefault" type="text" name="noun" value="noun" />
          <input class="xlarge clearDefault" type="text" name="verb" value="verb" />
          <input class="xlarge clearDefault" type="text" name="obj" value="object" />
          <div class="submit">
            <input class="btn primary" type="submit" value="Submit" />
          </div>
      </form>
    </div>

    <div class="content">
      <ul class="tabs">
        <li class="active"><a href="#">Recent</a></li>
        <li><a href="#">Trending</a></li>
        <li><a href="#">Top</a></li>
      </ul>
      <div id="list"></div>
      <div class="pagination">
        <ul id="pages">
          <li class="prev disabled"><a href="#" onclick="prevPage()">&larr; Previous</a></li>
          <li class="active" id="pageButton-1">
            <a href="#" onclick="switchPage(1)">1</a>
          </li>
          <li class="next"><a href="#" onclick="nextPage()">Next &rarr;</a></li>
        </ul>
      </div>
    </div>
  </div>
}
