@(title:String = "")(body: => Html)

@searchAction(queryPart: String) = {@action(controllers.Application.search)?@queryPart}

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="@asset("public/images/favicon.png")">
    <script src="@asset("public/javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
function renderFactList(facts, startAt) {
  startAt = (startAt == undefined) ? 1 : startAt;
  var orderedList = $('<ol start="'+startAt+'"></ol>');
  $.each(facts, function(_, fact) {
    var listItem = $('<li id="'+fact.id+'"></li>');
    $('<a href="@searchAction("noun='+fact.noun+'")" class="part">' +
        fact.noun + '</a>').appendTo(listItem);
    $('<a href="@searchAction("verb='+fact.verb+'")" class="part">' +
        fact.verb + '</a>').appendTo(listItem);
    $('<a href="@searchAction("obj='+fact.obj+'")" class="part">' +
        fact.obj + '</a>').appendTo(listItem);
    $('<span class="votey">' +
        '[<a href="#" class="up" onclick="voteUp('+fact.id+')">+</a>' +
        '/<a href="#" class="down" onclick="voteDown('+fact.id+')">-</a>' +
        ']</span>').appendTo(listItem);
    listItem.appendTo(orderedList);
  });
  return orderedList;
}

function voteUp(id) {
  $('#'+id+' .votey .up').addClass('marked');
  $('#'+id+' .votey .down').removeClass('marked');
}
function voteDown(id) {
  $('#'+id+' .votey .down').addClass('marked');
  $('#'+id+' .votey .up').removeClass('marked');
}
var factsPerPage = @models.Constants.factsPerPage;
$(document).ready(function() {
  $.each($('.clearDefault'), function(_, input) {
    input.defaultText = input.value;
    $(input).blur(function() {
      if(input.value == "") {
        input.value = input.defaultText;
        $(input).addClass('clearDefault');
      }
    });
    $(input).focus(function() {
      if(input.value == input.defaultText)
        input.value = "";
        $(input).removeClass('clearDefault');
    });
  });

  $.getJSON('@action(controllers.Application.recentFacts)', function(data) {
    renderFactList(data, 1).appendTo($('#list'));
  });

  var factCount, pageCount;
  $.getJSON('@action(controllers.Application.factCount)', function(data) {
    factCount = data.count;
    pageCount = Math.round(factCount / factsPerPage + 0.5);
    var $firstButton = $('#pages :first-child').next();
    for(var i = Math.min(3, pageCount); i >= 2; i--) {
      var $button = $('<li id="pageButton-'+i+'">' +
          '<a href="#" onclick="switchPage("'+i+')">'+i+'</a></li>');
      $firstButton.after($button);
    }
  });
});
var currentPage = 1;
function switchPage(n) {
}
function nextPage() {
  if(currentPage < pageCount)
    switchPage(currentPage + 1);
}
function prevPage() {
  if(currentPage > 1)
    switchPage(currentPage - 1);
}
    </script>
  </head>
  <body>
    <div class="logo">
      <span>truthity</span>
    </div>
    @body
  </body>
</html>
